/*GLOBAL*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #161618;
    --font-principal: 'Roboto', sans-serif;
    --bgsecundario-color: #202024;
    --font-color: white;
    --bg-botao: #2f2f35;
    --bg-botao-hover: #3d3d3d;
}

body {
    background: var(--bg-color);
    font-family: var(--font-principal);
    color: var(--font-color);
}

.container {
    display: flex;
    justify-content: space-evenly;
    margin: 1em 0;
}

/*div perfil*/

.principal {
    align-items: center;
}

.primeiro-bloco {
    background-color: var(--bgsecundario-color);
    width: 23%;
    padding: 1em;
    border-radius: 10px;
}

.imagem-perfil {
    display: flex;
    justify-content: center;
}

.imagem-perfil img{
    width: 200px;
}

.texto-perfil {
    text-align: center;
    padding: 1em;
}

.texto-perfil h2, p {
    line-height: 2em;
}

.icone-html{
    width: 50px;
    margin: auto;
    transition: transform .3s;
}

.icone-html:hover {
    transform: translateY(-6px);
}

/*sobre mim*/


.segundo-bloco {
    padding: 2em;
    background-color: var(--bgsecundario-color);
    width: 50vw;
    border-radius: 10px;
}

.sobre-mim h2 {
    margin-bottom: 20px;
}

.sobre-mim a {  
    background: var(--bg-botao);
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.8s;
}

.sobre-mim a:hover {  
    background: var(--bg-botao-hover);
}

.buttons {
    display: flex;
    justify-content: end;
    cursor: pointer;
    margin-top: 1em;
}

/*Secundario*/

.redes-buttons a {
    color: #CCCCCC;
    font-size: 20px;
    display: block;
    margin: 10px;
    text-decoration: none;
    transition: color .2s;
}

.redes-buttons a:hover {
    color: #ffffff;
}

.tecnologias h2 {
    margin-bottom: 1em;
}

.img-tec {
    display: flex;
    justify-content: space-around;
}

.img-tec img {
    width: 50px;
    transition: all .2s;
}

.img-tec img:hover {
    width: 50px;
    transform: translateY(-6px);
}



@media(max-width:840px) {
    .container {
        display: block;
    }

    .primeiro-bloco, .segundo-bloco {
        width: 100%;
    }
}